<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="StaticKeysSection" type="pfDataExtractorCP.StaticKeysSection, pfDataExtractorCP"  />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="pfDataExtractorCP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <StaticKeysSection
      MainFormCaption="pfDataExtractorCP Application"
      MinAppThreads="1"
      MaxAppThreads="25"
      RequireLogon="False"
      ValidBooleanValues="true,false,yes,no,y,n,True,False,Yes,No,Y,N,TRUE,FALSE,YES,NO"
    />


  <appSettings>
    <add key="SaveErrorMessagesToErrorLog" value="true"/>
    <add key="ApplicationLogFileName" value="App.log"/>
    <add key="ApplicationName" value="pfDataExtractorCP"/>
    <add key="HelpFileName" value="pfDataExtractorCP.chm"/>
    <add key="QBFHelpFileName" value="QbfUsersGuide.chm"/>
    <add key="ConnStrMgrHelpFileName" value="ConnectionStringsManager.chm" />
    <add key="RandomSourcesHelpFileName" value="RandomDataMasks.chm" />
    <add key="DataOutputGridHelpFileName" value="DataOutputGrid.chm" />
    <add key="appConfigManagerPath" value=""/>
    <add key="appConnectionStringManagerPath" value=""/>
    <add key="appRandomDataManagerPath" value=""/>

    <!-- If false, Mru list is saved to file system.-->
    <add key="SaveMruListToRegistry" value="False"/>
    <!-- SubFolder will be located in the user's mydocuments folder.-->
    <!-- File containing Mru List is automatically named MruList.txt-->
    <add key="MRUListSaveFileSubFolder" value="PFApps\pfDataExtractorCP\Mru\"/>
    <!-- SubKey will be located under Registry.CurrentUser key.-->
    <!-- Application automatically adds MRU subkey to the registry key specified below. -->
    <add key="MRUListSaveRegistryKey" value="SOFTWARE\PFApps\pfDataExtractorCP"/>
    <!-- Maximum number of MRU List entries.-->
    <add key="MaxMruListEntries" value="8"/>
    <!-- Mru List display type: SubMenu or Inline -->
    <add key="UseSubMenuForMruList" value="False"/>

    <add key="DefaultRandomDataDatabase" value=""/>
    <add key="DefaultRandomDataDatabasePassword" value="L96EuzZXNeEBHoIEPP6EDg=="/>
    <add key="DefaultRandomDataXmlFilesFolder" value=""/>

    <add key="DesktopDatabaseFolder" value="*DocumentsFolder*\PFApps\pfDataExtractorCP\DataExports" />

    <add key="TestOrdersDatabase" value=""/>

    <add key="DefaultOutputDatabaseBatchSize" value="200"/>
    <add key="ReplaceOutputTableIfExists" value="True"/>
    <add key="DefaultOutputTableName" value="DataExtractorOutputTable" />

    <add key="DefaultSchema_SQLServerCE35" value=""/>
    <add key="DefaultSchema_SQLServerCE40" value=""/>
    <add key="DefaultSchema_OracleNative" value="hr"/>
    <add key="DefaultSchema_MySQL" value="sakila"/>
    <add key="DefaultSchema_DB2" value="dbo"/>
    <add key="DefaultSchema_Informix" value="informix"/>
    <add key="DefaultSchema_Sybase" value="dbo"/>
    <add key="DefaultSchema_SQLAnywhere" value="dba"/>
    <add key="DefaultSchema_SQLAnywhereUltraLite" value=""/>
    <add key="DefaultSchema_MSSQLServer" value="dbo"/>
    <add key="DefaultSchema_MSAccess" value=""/>
    <add key="DefaultSchema_MSOracle" value="hr"/>
    <add key="DefaultSchema_ODBC" value=""/>
    <add key="DefaultSchema_OLEDB" value=""/>

    <add key="DefaultOutputBatchSize_SQLServerCE35" value="1"/>
    <add key="DefaultOutputBatchSize_SQLServerCE40" value="1"/>
    <add key="DefaultOutputBatchSize_OracleNative" value="200"/>
    <add key="DefaultOutputBatchSize_MySQL" value="200"/>
    <add key="DefaultOutputBatchSize_DB2" value="200"/>
    <add key="DefaultOutputBatchSize_Informix" value="1"/>
    <add key="DefaultOutputBatchSize_Sybase" value="200"/>
    <add key="DefaultOutputBatchSize_SQLAnywhere" value="200"/>
    <add key="DefaultOutputBatchSize_SQLAnywhereUltraLite" value="1"/>
    <add key="DefaultOutputBatchSize_MSSQLServer" value="200"/>
    <add key="DefaultOutputBatchSize_MSAccess" value="1"/>
    <add key="DefaultOutputBatchSize_MSOracle" value="200"/>
    <add key="DefaultOutputBatchSize_ODBC" value="200"/>
    <add key="DefaultOutputBatchSize_OLEDB" value="200"/>

    <add key="MSSQLServer" value="PFDataAccessObjects|PFSQLServer|PFDataAccessObjects.dll"/>
    <add key="SQLServerCE35" value="PFSQLServerCE35Objects|PFSQLServerCE35|PFSQLServerCE35Objects.dll"/>
    <add key="SQLServerCE40" value="PFSQLServerCE40Objects|PFSQLServerCE40|PFSQLServerCE40Objects.dll"/>
    <add key="MSAccess" value="PFDataAccessObjects|PFMsAccess|PFDataAccessObjects.dll"/>
    <add key="MSOracle" value="PFDataAccessObjects|PFMsOracle|PFDataAccessObjects.dll"/>
    <add key="OracleNative" value="PFOracleObjects|PFOracle|PFOracleObjects.dll"/>
    <add key="MySQL" value="PFMySQLObjects|PFMySQL|PFMySQLObjects.dll"/>
    <add key="DB2" value="PFDB2Objects|PFDB2|PFDB2Objects.dll"/>
    <add key="Informix" value="PFInformixObjects|PFInformix|PFInformixObjects.dll"/>
    <add key="Sybase" value="PFSybaseObjects|PFSybase|PFSybaseObjects.dll"/>
    <add key="SQLAnywhere" value="PFSQLAnywhereObjects|PFSQLAnywhere|PFSQLAnywhereObjects.dll"/>
    <add key="SQLAnywhereUltraLite" value="PFSQLAnywhereULObjects|PFSQLAnywhereUL|PFSQLAnywhereULObjects.dll"/>
    <add key="ODBC" value="PFDataAccessObjects|PFOdbc|PFDataAccessObjects.dll"/>
    <add key="OLEDB" value="PFDataAccessObjects|PFOleDb|PFDataAccessObjects.dll"/>
    <add key="Unknown" value="PFDataAccessObjects|PFDatabase|PFDataAccessObjects.dll"/>

    <add key="DefaultConnection_MSSQLServer" value="" />
    <add key="DefaultConnection_SQLServerCE35" value="" />
    <add key="DefaultConnection_SQLServerCE40" value="" />
    <add key="DefaultConnection_OracleNative" value="" />
    <add key="DefaultConnection_MySQL" value="" />
    <add key="DefaultConnection_DB2" value="" />
    <add key="DefaultConnection_Informix" value="" />
    <add key="DefaultConnection_Sybase" value="" />
    <add key="DefaultConnection_SQLAnywhere" value="" />
    <add key="DefaultConnection_SQLAnywhereUltraLite" value="" />
    <add key="DefaultConnection_MSAccess" value="" />
    <add key="DefaultConnection_MSOracle" value="" />
    <add key="DefaultConnection_ODBC" value="" />
    <add key="DefaultConnection_OLEDB" value="" />
    <add key="SQLAnywhereUltraLiteInstallFolder" value="C:\Program Files\SQL Anywhere 12\UltraLite\UltraLite.NET\Assembly\V2\iAnywhere.Data.UltraLite.dll" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="NumberOfRandomValueSamples" value="1000"/>
    <add key="NumberOfTestOrderPreviewTransactions" value="100"/>
    <add key="VeryLargeDataTableRowCountThreshold" value="100000"/>
    <add key="MaxDataTableRowsForWordOutput" value="65536"/>
    <!-- MaxTempDataTableRows will be set to 5000 if config value less than 5000 -->
    <add key="MaxTempDataTableRows" value="50000"/>

    <add key="RandomDataFolder" value=""/>
    <add key="RandomDefinitionsFolder" value=""/>
    <add key="RandomOriginalDefinitionsFolder" value=""/>

    <add key="RandomNumbersSubfolder" value=""/>
    <add key="RandomDatesAndTimesSubfolder" value=""/>
    <add key="RandomBooleansSubfolder" value=""/>
    <add key="RandomStringsSubfolder" value=""/>
    <add key="RandomWordsSubfolder" value=""/>
    <add key="RandomNamesAndLocationsSubSubfolder" value=""/>
    <add key="RandomCustomValuesSubfolder" value=""/>
    <add key="RandomBytesSubfolder" value=""/>
    <add key="RandomDataElementsSubfolder" value=""/>


  </appSettings>

  <connectionStrings>
    <add name="DefaultServer"
         providerName="System.Data.SqlClient"
         connectionString="Server=profastws1;Database=Northwind;Trusted_Connection=True;" />

    <add name="DefaultCEServer"
         providerName="System.Data.SqlServerCE"
         connectionString="Data Source=C:\Temp\test01_35.sdf;Persist Security Info=False;" />

  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- ****************************************************************** -->
      <!-- Don't add sql server ce to runtime lists. Must be version 3.5.     -->
      <!-- Ignore compiler message about conflicts between different versions.-->
      <!-- Both 3.5 and 4.0 versions of CE can be used by the application.    -->
      <!-- ****************************************************************** -->
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.112.3.0" newVersion="4.112.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IBM.Data.DB2" publicKeyToken="7C307B91AA13D208" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.7.4.4" newVersion="9.7.4.4"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="C5687FC88969C44D" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.7.4.0" newVersion="6.8.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IBM.Data.Informix" publicKeyToken="7C307B91AA13D208" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.7.4.4" newVersion="9.7.4.4"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <userSettings>
    <pfDataExtractorCP.Properties.Settings>
      <setting name="DefaultExtractorDefinitionsSaveFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultExtractorOutputFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="SaveFormLocationsOnExit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultDataSourceType" serializeAs="String">
        <value />
      </setting>
      <setting name="MainFormHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainFormWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainFormX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainFormY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageLogHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageLogWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageLogX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageLogY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageLogDefaultHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="MessageLogDefaultWidth" serializeAs="String">
        <value>570</value>
      </setting>
      <setting name="ShowOutputLog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowInstalledDatabaseProvidersOnly" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PreviewAllRows" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LimitPreviewRows" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxNumberOfRows" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="DefaultDataDestinationType" serializeAs="String">
        <value />
      </setting>
      <setting name="BatchSizeForDataImportsAndExports" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="BatchSizeForRandomDataGeneration" serializeAs="String">
        <value>50000</value>
      </setting>
      <setting name="DefaultSourceAccessDatabaseFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultSourceExcelDataFileFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultSourceDelimitedTextFileFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultSourceFixedLengthTextFileFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultDestinationAccessDatabaseFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultDestinationExcelDataFileFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultDestinationDelimitedTextFileFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultDestinationFixedLengthTextFileFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultQueryDefinitionsFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultDataGridExportFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultExtractorDefinitionName" serializeAs="String">
        <value>MyExtract</value>
      </setting>
      <setting name="DefaultInputDatabaseType" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultInputDatabaseConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultOutputDatabaseType" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultOutputDatabaseConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="OverwriteOutputDestinationIfAlreadyExists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultSourceXmlFileFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultDestinationXmlFileFolder" serializeAs="String">
        <value />
      </setting>
    </pfDataExtractorCP.Properties.Settings>
  </userSettings>
</configuration>
