<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="StaticKeysSection" type="TestprogRandomDataForms.StaticKeysSection, TestprogRandomDataForms"  />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TestprogRandomDataForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <StaticKeysSection
      MainFormCaption="TestprogRandomDataForms Application"
      MinAppThreads="1"
      MaxAppThreads="25"
      RequireLogon="False"
      ValidBooleanValues="true,false,yes,no,y,n,True,False,Yes,No,Y,N,TRUE,FALSE,YES,NO"
    />


  <appSettings>
    <add key="SaveErrorMessagesToErrorLog" value="true"/>
    <add key="ApplicationLogFileName" value="App.log"/>
    <add key="ApplicationName" value="TestprogRandomDataForms"/>
    <add key="HelpFileName" value="InitWinFormsHelpFile.chm"/>
    <add key="appConfigManagerPath" value=""/>
    <add key="NumberOfRandomValueSamples" value="1000"/>

    <add key="RandomDataFolder" value=""/>
    <add key="RandomDefinitionsFolder" value=""/>
    <add key="RandomOriginalDefinitionsFolder" value=""/>

    <add key="RandomNumbersSubfolder" value=""/>
    <add key="RandomDatesAndTimesSubfolder" value=""/>
    <add key="RandomBooleansSubfolder" value=""/>
    <add key="RandomStringsSubfolder" value=""/>
    <add key="RandomWordsSubfolder" value=""/>
    <add key="RandomNamesAndLocationsSubSubfolder" value=""/>
    <add key="RandomCustomValuesSubfolder" value=""/>
    <add key="RandomBytesSubfolder" value=""/>
    <add key="RandomDataElementsSubfolder" value=""/>

    <add key="DefaultDatabaseType" value="MSSQLServer"/>
    <add key="DefaultConnectionString" value="Data Source=PROFASTWS3; Initial Catalog=TestTables; Integrated Security=True; Application Name=TestprogRandomizer; Workstation ID=PROFASTWS5;"/>
    <add key="DefaultInputDatabaseType" value="MSSQLServer"/>
    <add key="DefaultInputConnectionString" value="Data Source=PROFASTWS3; Initial Catalog=TestTables; Integrated Security=True; Application Name=TestprogRandomizer; Workstation ID=PROFASTWS5;"/>
    <add key="DefaultOutputDatabaseType" value="MSSQLServer"/>
    <add key="DefaultOutputConnectionString" value="Data Source=PROFASTWS3; Initial Catalog=TestTables; Integrated Security=True; Application Name=TestprogRandomizer; Workstation ID=PROFASTWS5;"/>
    <add key="NumberOfRandomValueSamples" value="1000"/>

    <add key="DefaultRandomDataDatabase" value="C:\ProFast\Projects\WordLists\SQLCEDatabase\RandomData.sdf"/>
    <add key="DefaultRandomDataDatabasePassword" value="L96EuzZXNeEBHoIEPP6EDg=="/>
    <add key="DefaultRandomDataXmlFilesFolder" value=""/>
    <add key="DefaultNameListFileName" value="MyNameList"/>
    <add key="DefaultCustomListFileName" value="MyCustomDataList"/>
    <add key="DefaultOutputListToXmlFile" value="True"/>
    <add key="DefaultOutputListToDataGrid" value="True"/>

    <add key="DefaultOutputDatabaseBatchSize" value="100"/>
    <add key="ReplaceOutputTableIfExists" value="True"/>
    <add key="DefaultOutputTableName" value="DataGridOutputTable"/>
    <add key="DefaultOutputNameListRows" value="1000"/>
    <add key="DefaultOutputCustomListRows" value="3000"/>

    <!-- SqlQuery example: select state from StateCodes <where> order by state-->
    <!-- <where> is replaced by the app code when a valid where clause is needed.-->
    <!-- If not where clause is needed at a particular point in the code, the app erases the <where> literal and keeps the rest of the select statement.-->
    <add key="SqlQueryForRegionNames" value=""/>
    <add key="SqlQueryForSubRegionNames" value=""/>
    <add key="SqlQueryForStateNames" value=""/>
    <add key="SqlQueryForMsaNames" value=""/>
    <add key="SqlQueryForCMsaNames" value=""/>
    <add key="SqlQueryForAgeGroupNames" value=""/>
    <add key="SqlQueryForCanadaProvinces" value=""/>
    <add key="SqlQueryForCanadaAreaCodes" value=""/>
    <add key="SqlQueryForCanadaLargeCities" value=""/>
    <add key="SqlQueryForMexicoStates" value=""/>
    <add key="SqlQueryForMexicoLargeCities" value=""/>


    <add key="MSSQLServer" value="PFDataAccessObjects|PFSQLServer|C:\ProFast\Projects\Binaries\ProFast\ClassLibraries\Release\PFDataAccessObjects.dll"/>
    <add key="SQLServerCE35" value="PFSQLServerCE35Objects|PFSQLServerCE35|C:\ProFast\Projects\Binaries\ProFast\ClassLibraries\Release\PFSQLServerCE35Objects.dll"/>
    <add key="SQLServerCE40" value="PFSQLServerCE40Objects|PFSQLServerCE40|C:\ProFast\Projects\Binaries\ProFast\ClassLibraries\Release\PFSQLServerCE40Objects.dll"/>
    <add key="MSAccess" value="PFDataAccessObjects|PFMsAccess|C:\ProFast\Projects\Binaries\ProFast\ClassLibraries\Release\PFDataAccessObjects.dll"/>
    <add key="MSOracle" value="PFDataAccessObjects|PFMsOracle|C:\ProFast\Projects\Binaries\ProFast\ClassLibraries\Release\PFDataAccessObjects.dll"/>
    <add key="OracleNative" value="PFOracleObjects|PFOracle|C:\ProFast\Projects\Binaries\ProFast\ClassLibraries\Release\PFOracleObjects.dll"/>
    <add key="MySQL" value="PFMySQLObjects|PFMySQL|C:\ProFast\Projects\Binaries\ProFast\ClassLibraries\Release\PFMySQLObjects.dll"/>
    <add key="DB2" value="PFDB2Objects|PFDB2|C:\ProFast\Projects\Binaries\ProFast\ClassLibraries\Release\PFDB2Objects.dll"/>
    <add key="Informix" value="PFInformixObjects|PFInformix|C:\ProFast\Projects\Binaries\ProFast\ClassLibraries\Release\PFInformixObjects.dll"/>
    <add key="Sybase" value="PFSybaseObjects|PFSybase|C:\ProFast\Projects\Binaries\ProFast\ClassLibraries\Release\PFSybaseObjects.dll"/>
    <add key="SQLAnywhere" value="PFSQLAnywhereObjects|PFSQLAnywhere|C:\ProFast\Projects\Binaries\ProFast\ClassLibraries\Release\PFSQLAnywhereObjects.dll"/>
    <add key="SQLAnywhereUltraLite" value="PFSQLAnywhereULObjects|PFSQLAnywhereUL|C:\ProFast\Projects\Binaries\ProFast\ClassLibraries\Release\PFSQLAnywhereULObjects.dll"/>
    <add key="ODBC" value="PFDataAccessObjects|PFOdbc|C:\ProFast\Projects\Binaries\ProFast\ClassLibraries\Release\PFDataAccessObjects.dll"/>
    <add key="OLEDB" value="PFDataAccessObjects|PFOleDb|C:\ProFast\Projects\Binaries\ProFast\ClassLibraries\Release\PFDataAccessObjects.dll"/>
    <add key="Unknown" value="PFDataAccessObjects|PFDatabase|C:\ProFast\Projects\Binaries\ProFast\ClassLibraries\Release\PFDataAccessObjects.dll"/>

    <add key="DefaultConnection_MSSQLServer" value="Data Source=PROFASTWS3; Initial Catalog=TestTables; Integrated Security=True; Application Name=TestprogRandomizer; Workstation ID=PROFASTWS5;"/>
    <add key="DefaultConnection_SQLServerCE35" value="data source='C:\Testfiles\Randomizer\TestTables.sdf';"/>
    <add key="DefaultConnection_SQLServerCE40" value="data source='c:\SQLData\nametestV4.sdf';"/>
    <add key="DefaultConnection_OracleNative" value="Data Source=PROFASTSV4ORA;User ID=SYSTEM;Password=NEW1992;"/>
    <add key="DefaultConnection_MySQL" value="server=PROFASTSV4MYSQL; port=3306; database=SAKILA;User Id=Mike; password=MIKE92;"/>
    <add key="DefaultConnection_DB2" value="Database=SAMPLE;User ID=DB2ADMIN;Password=DB21992;Server=PROFASTSV4DB2:50000;"/>
    <add key="DefaultConnection_Informix" value="Database=miketest;User ID=informix;Password=IMX1992;Server=profastsv4imx:9089;"/>
    <add key="DefaultConnection_Sybase" value="Data Source=PROFASTSV2SYB;Port=5000;Database=AdventureWorks;Uid=SA;Pwd=SA1992;"/>
    <add key="DefaultConnection_SQLAnywhere" value="UserID=DBA;Password=sql;DatabaseName=AdventureWorks;DatabaseFile=C:\Testdata\SQLAnywhere\AdventureWorks.db;ServerName=AdventureWorks"/>
    <add key="DefaultConnection_SQLAnywhereUltraLite" value="nt_file=C:\Testdata\SQLAnywhere\Test1.udb;dbn=Test1;uid=DBA;pwd=sql"/>
    <add key="DefaultConnection_MSAccess" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Testdata\Access\TestDataOutput.accdb;User Id=admin;Password=;Jet OLEDB:Engine Type=6"/>
    <add key="DefaultConnection_MSOracle" value="Data Source=PROFASTSV4ORA;User ID=SYSTEM;Password=NEW1992;"/>
    <add key="DefaultConnection_ODBC" value="Driver={Oracle in OraClient11g_home1};Dbq=ORASV4;Uid=SYSTEM;Pwd=NEW1992;"/>
    <add key="DefaultConnection_OLEDB" value="Provider=IBMDADB2;Database=sample;Hostname=profastsv4db2;Port=50000;Protocol=TCPIP;Uid=Mike;Pwd=MIKE92;"/>

    <add key="SQLAnywhereUltraLiteInstallFolder" value="C:\Program Files\SQL Anywhere 12\UltraLite\UltraLite.NET\Assembly\V2\iAnywhere.Data.UltraLite.dll"/>


  </appSettings>

  <connectionStrings>
    <add name="DefaultServer"
         providerName="System.Data.SqlClient"
         connectionString="Server=profastws1;Database=Northwind;Trusted_Connection=True;" />

    <add name="DefaultCEServer"
         providerName="System.Data.SqlServerCE"
         connectionString="Data Source=C:\Temp\test01_35.sdf;Persist Security Info=False;" />

  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <TestprogRandomDataForms.Properties.Settings>
      <setting name="UserOption1" serializeAs="String">
        <value>c:\mikesave</value>
      </setting>
      <setting name="UserOption2" serializeAs="String">
        <value>c:\miketest</value>
      </setting>
      <setting name="UserOption4" serializeAs="String">
        <value>First</value>
      </setting>
    </TestprogRandomDataForms.Properties.Settings>
  </userSettings>
</configuration>
