<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="StaticKeysSection" type="pfDataViewerCP.StaticKeysSection, pfDataViewerCP"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="pfDataViewerCP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <StaticKeysSection MainFormCaption="InitWinFormsAppWithToolbar Application" MinAppThreads="1" MaxAppThreads="25" RequireLogon="False" ValidBooleanValues="true,false,yes,no,y,n,True,False,Yes,No,Y,N,TRUE,FALSE,YES,NO"/>
  <appSettings>
    <add key="SaveErrorMessagesToErrorLog" value="true"/>
    <add key="ApplicationLogFileName" value="App.log"/>
    <add key="ApplicationName" value="pfDataViewerCP"/>
    <add key="HelpFileName" value="pfDataViewerCP.chm"/>
    <add key="QBFHelpFileName" value="QbfUsersGuide.chm"/>
    <add key="appConfigManagerPath" value=""/>
    <add key="appConnectionStringManagerPath" value=""/>
    <add key="appRandomDataManagerPath" value=""/>
    <add key="NumberOfRandomValueSamples" value="1000"/>
    <add key="VeryLargeDataTableRowCountThreshold" value="100000"/>
    <add key="MaxDataTableRowsForWordOutput" value="65536"/>
    <add key="MaxTempDataTableRows" value="50000"/>

    <!-- If false, Mru list is saved to file system.-->
    <add key="SaveMruListToRegistry" value="False"/>
    <!-- SubFolder will be located in the user's mydocuments folder.-->
    <!-- File containing Mru List is automatically named MruList.txt-->
    <add key="MRUListSaveFileSubFolder" value="PFApps\pfDataViewerCP\Mru\"/>
    <!-- SubKey will be located under Registry.CurrentUser key.-->
    <!-- Application automatically adds MRU subkey to the registry key specified below. -->
    <add key="MRUListSaveRegistryKey" value="SOFTWARE\PFApps\pfDataViewerCP"/>
    <!-- Maximum number of MRU List entries.-->
    <add key="MaxMruListEntries" value="8"/>
    <!-- Mru List display type: SubMenu or Inline -->
    <add key="UseSubMenuForMruList" value="False"/>
    
    <add key="DefaultQueryDefinitionName" value="MyQuery"/>
    <add key="DefaultRandomDataDatabase" value=""/>
    <add key="DefaultRandomDataDatabasePassword" value="L96EuzZXNeEBHoIEPP6EDg=="/>
    <add key="DefaultRandomDataXmlFilesFolder" value=""/>

    <add key="DesktopDatabaseFolder" value="*DocumentsFolder*\PFApps\pfDataViewerCP\DataExports" />

    <add key="DefaultOutputDatabaseBatchSize" value="200"/>
    <add key="ReplaceOutputTableIfExists" value="True"/>

    <add key="DefaultOutputBatchSize_SQLServerCE35" value="1"/>
    <add key="DefaultOutputBatchSize_SQLServerCE40" value="1"/>
    <add key="DefaultOutputBatchSize_OracleNative" value="200"/>
    <add key="DefaultOutputBatchSize_MySQL" value="200"/>
    <add key="DefaultOutputBatchSize_DB2" value="200"/>
    <add key="DefaultOutputBatchSize_Informix" value="1"/>
    <add key="DefaultOutputBatchSize_Sybase" value="200"/>
    <add key="DefaultOutputBatchSize_SQLAnywhere" value="200"/>
    <add key="DefaultOutputBatchSize_SQLAnywhereUltraLite" value="1"/>
    <add key="DefaultOutputBatchSize_MSSQLServer" value="200"/>
    <add key="DefaultOutputBatchSize_MSAccess" value="1"/>
    <add key="DefaultOutputBatchSize_MSOracle" value="200"/>
    <add key="DefaultOutputBatchSize_ODBC" value="200"/>
    <add key="DefaultOutputBatchSize_OLEDB" value="200"/>

    <add key="MSSQLServer" value="PFDataAccessObjects|PFSQLServer|PFDataAccessObjects.dll"/>
    <add key="SQLServerCE35" value="PFSQLServerCE35Objects|PFSQLServerCE35|PFSQLServerCE35Objects.dll"/>
    <add key="SQLServerCE40" value="PFSQLServerCE40Objects|PFSQLServerCE40|PFSQLServerCE40Objects.dll"/>
    <add key="MSAccess" value="PFDataAccessObjects|PFMsAccess|PFDataAccessObjects.dll"/>
    <add key="MSOracle" value="PFDataAccessObjects|PFMsOracle|PFDataAccessObjects.dll"/>
    <add key="OracleNative" value="PFOracleObjects|PFOracle|PFOracleObjects.dll"/>
    <add key="MySQL" value="PFMySQLObjects|PFMySQL|PFMySQLObjects.dll"/>
    <add key="DB2" value="PFDB2Objects|PFDB2|PFDB2Objects.dll"/>
    <add key="Informix" value="PFInformixObjects|PFInformix|PFInformixObjects.dll"/>
    <add key="Sybase" value="PFSybaseObjects|PFSybase|PFSybaseObjects.dll"/>
    <add key="SQLAnywhere" value="PFSQLAnywhereObjects|PFSQLAnywhere|PFSQLAnywhereObjects.dll"/>
    <add key="SQLAnywhereUltraLite" value="PFSQLAnywhereULObjects|PFSQLAnywhereUL|PFSQLAnywhereULObjects.dll"/>
    <add key="ODBC" value="PFDataAccessObjects|PFOdbc|PFDataAccessObjects.dll"/>
    <add key="OLEDB" value="PFDataAccessObjects|PFOleDb|PFDataAccessObjects.dll"/>
    <add key="Unknown" value="PFDataAccessObjects|PFDatabase|PFDataAccessObjects.dll"/>
    <add key="DefaultConnection_SQLServerCE35" value="data source='C:\Testfiles\Randomizer\TestTables.sdf';"/>
    <add key="DefaultConnection_SQLServerCE40" value="data source='c:\SQLData\nametestV4.sdf';"/>
    <add key="DefaultConnection_OracleNative" value="Data Source=PROFASTSV4ORA;User ID=SYSTEM;Password=NEW1992;"/>
    <add key="DefaultConnection_MySQL" value="server=PROFASTSV4MYSQL; port=3306; database=SAKILA;User Id=Mike; password=MIKE92;"/>
    <add key="DefaultConnection_DB2" value="Database=SAMPLE;User ID=DB2ADMIN;Password=DB21992;Server=PROFASTSV4DB2:50000;"/>
    <add key="DefaultConnection_Informix" value="Database=miketest;User ID=informix;Password=IMX1992;Server=profastsv4imx:9089;"/>
    <add key="DefaultConnection_Sybase" value="Data Source=PROFASTSV2SYB;Port=5000;Database=AdventureWorks;Uid=SA;Pwd=SA1992;"/>
    <add key="DefaultConnection_SQLAnywhere" value="UserID=DBA;Password=sql;DatabaseName=AdventureWorks;DatabaseFile=C:\Testdata\SQLAnywhere\AdventureWorks.db;ServerName=AdventureWorks"/>
    <add key="DefaultConnection_SQLAnywhereUltraLite" value="nt_file=C:\Testdata\SQLAnywhere\TestAdventureWorksDW.udb;uid=DBA;pwd=sql"/>
    <add key="DefaultConnection_MSSQLServer" value="Data Source=PROFASTSV2; Initial Catalog=AdventureWorksDW2008R2; Integrated Security=True; Application Name=TestprogRandomNames; Workstation ID=PROFASTWS5;"/>
    <add key="DefaultConnection_MSAccess" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Testdata\Access\TestDataOutput.accdb;User Id=admin;Password=;Jet OLEDB:Engine Type=6"/>
    <add key="DefaultConnection_MSOracle" value="Data Source=PROFASTSV4ORA;User ID=SYSTEM;Password=NEW1992;"/>
    <add key="DefaultConnection_ODBC" value="Driver={Oracle in OraClient11g_home1};Dbq=ORASV4;Uid=SYSTEM;Pwd=NEW1992;"/>
    <add key="DefaultConnection_OLEDB" value="Provider=IBMDADB2;Database=sample;Hostname=profastsv4db2;Port=50000;Protocol=TCPIP;Uid=Mike;Pwd=MIKE92;"/>
    <add key="SQLAnywhereUltraLiteInstallFolder" value="C:\Program Files\SQL Anywhere 12\UltraLite\UltraLite.NET\Assembly\V2\iAnywhere.Data.UltraLite.dll"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <add key="RandomDataFolder" value=""/>
    <add key="RandomDefinitionsFolder" value=""/>
    <add key="RandomOriginalDefinitionsFolder" value=""/>

    <add key="RandomNumbersSubfolder" value=""/>
    <add key="RandomDatesAndTimesSubfolder" value=""/>
    <add key="RandomBooleansSubfolder" value=""/>
    <add key="RandomStringsSubfolder" value=""/>
    <add key="RandomWordsSubfolder" value=""/>
    <add key="RandomNamesAndLocationsSubSubfolder" value=""/>
    <add key="RandomCustomValuesSubfolder" value=""/>
    <add key="RandomBytesSubfolder" value=""/>
    <add key="RandomDataElementsSubfolder" value=""/>


  </appSettings>
  <connectionStrings>
    <add name="DefaultServer" providerName="System.Data.SqlClient" connectionString="Server=profastws1;Database=Northwind;Trusted_Connection=True;"/>
    <add name="DefaultCEServer" providerName="System.Data.SqlServerCE" connectionString="Data Source=C:\Temp\test01_35.sdf;Persist Security Info=False;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- ****************************************************************** -->
      <!-- Don't add sql server ce to runtime lists. Must be version 3.5.     -->
      <!-- Ignore compiler message about conflicts between different versions.-->
      <!-- Both 3.5 and 4.0 versions of CE can be used by the application.    -->
      <!-- ****************************************************************** -->
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.112.3.0" newVersion="4.112.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IBM.Data.DB2" publicKeyToken="7C307B91AA13D208" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.7.4.4" newVersion="9.7.4.4"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="C5687FC88969C44D" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.7.4.0" newVersion="6.8.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IBM.Data.Informix" publicKeyToken="7C307B91AA13D208" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.7.4.4" newVersion="9.7.4.4"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <pfDataViewerCP.Properties.Settings>
      <setting name="SaveFormLocationsOnExit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MainFormHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainFormWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainFormX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainFormY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageLogHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageLogWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageLogX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageLogY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageLogDefaultHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="MessageLogDefaultWidth" serializeAs="String">
        <value>570</value>
      </setting>
      <setting name="ShowInstalledDatabaseProvidersOnly" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowApplicationLogWindow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultQueryDefinitionsFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultInputDatabaseType" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultInputDatabaseConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultDataGridExportFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultOutputDatabaseType" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultOutputDatabaseConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="BatchSizeForDataImportsAndExports" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="BatchSizeForRandomDataGeneration" serializeAs="String">
        <value>50000</value>
      </setting>
    </pfDataViewerCP.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
