<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="StaticKeysSection" type="TestprogAppDataForms.StaticKeysSection, TestprogAppDataForms"  />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TestprogAppDataForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <StaticKeysSection
      MainFormCaption="TestprogAppDataForms Application"
      MinAppThreads="1"
      MaxAppThreads="25"
      RequireLogon="False"
      ValidBooleanValues="true,false,yes,no,y,n,True,False,Yes,No,Y,N,TRUE,FALSE,YES,NO"
    />


  <appSettings>
    <add key="SaveErrorMessagesToErrorLog" value="true"/>
    <add key="ApplicationLogFileName" value="App.log"/>
    <add key="ApplicationName" value="TestprogAppDataForms"/>
    <add key="HelpFileName" value="InitWinFormsHelpFile.chm"/>
    <add key="appConfigManagerPath" value=""/>

    <add key="DefaultColumnDefinitionsFolder" value =""/>


    <add key="MSSQLServer" value="PFDataAccessObjects|PFSQLServer|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFDataAccessObjects.dll"/>
    <add key="SQLServerCE35" value="PFSQLServerCE35Objects|PFSQLServerCE35|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFSQLServerCE35Objects.dll"/>
    <add key="SQLServerCE40" value="PFSQLServerCE40Objects|PFSQLServerCE40|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFSQLServerCE40Objects.dll"/>
    <add key="MSAccess" value="PFDataAccessObjects|PFMsAccess|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFDataAccessObjects.dll"/>
    <add key="MSOracle" value="PFDataAccessObjects|PFMsOracle|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFDataAccessObjects.dll"/>
    <add key="OracleNative" value="PFOracleObjects|PFOracle|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFOracleObjects.dll"/>
    <add key="MySQL" value="PFMySQLObjects|PFMySQL|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFMySQLObjects.dll"/>
    <add key="DB2" value="PFDB2Objects|PFDB2|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFDB2Objects.dll"/>
    <add key="Informix" value="PFInformixObjects|PFInformix|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFInformixObjects.dll"/>
    <add key="Sybase" value="PFSybaseObjects|PFSybase|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFSybaseObjects.dll"/>
    <add key="SQLAnywhere" value="PFSQLAnywhereObjects|PFSQLAnywhere|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFSQLAnywhereObjects.dll"/>
    <add key="SQLAnywhereUltraLite" value="PFSQLAnywhereULObjects|PFSQLAnywhereUL|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFSQLAnywhereULObjects.dll"/>
    <add key="ODBC" value="PFDataAccessObjects|PFOdbc|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFDataAccessObjects.dll"/>
    <add key="OLEDB" value="PFDataAccessObjects|PFOleDb|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFDataAccessObjects.dll"/>
    <add key="Unknown" value="PFDataAccessObjects|PFDatabase|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFDataAccessObjects.dll"/>

    <add key="DefaultConnection_SQLServerCE35" value="data source='C:\Testdata\SQLCE\TestAdventureWorksDW.sdf';"/>
    <add key="DefaultConnection_SQLServerCE40" value="data source='C:\Testdata\SQLCE40\TestAdventureWorksDW.sdf';"/>
    <add key="DefaultConnection_OracleNative" value="Data Source=PROFASTSV4ORA;User ID=SYSTEM;Password=NEW1992;"/>
    <add key="DefaultConnection_MySQL" value="server=PROFASTSV4MYSQL; port=3306; database=SAKILA;User Id=Mike; password=MIKE92;"/>
    <add key="DefaultConnection_DB2" value="Database=SAMPLE;User ID=DB2ADMIN;Password=DB21992;Server=PROFASTSV4DB2:50000;"/>
    <add key="DefaultConnection_Informix" value="Database=miketest;User ID=informix;Password=IMX1992;Server=profastsv4imx:9089;"/>
    <add key="DefaultConnection_Sybase" value="Data Source=PROFASTSV2SYB;Port=5000;Database=AdventureWorks;Uid=SA;Pwd=SA1992;"/>
    <add key="DefaultConnection_SQLAnywhere" value="UserID=DBA;Password=sql;DatabaseName=AdventureWorks;DatabaseFile=C:\Testdata\SQLAnywhere\AdventureWorks.db;ServerName=AdventureWorks"/>
    <add key="DefaultConnection_SQLAnywhereUltraLite" value="nt_file=C:\Testdata\SQLAnywhere\TestAdventureWorksDW.udb;dbn=Test1;uid=DBA;pwd=sql"/>
    <add key="DefaultConnection_MSSQLServer" value="Data Source=PROFASTWS1; Initial Catalog=AdventureWorksDW; Integrated Security=True; Application Name=TestprogLoadAWDW; Workstation ID=PROFASTWS5;"/>
    <add key="DefaultConnection_MSAccess" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Testdata\Access\TestAdventureWorksDW.accdb;User Id=admin;Password=;Jet OLEDB:Engine Type=6"/>
    <add key="DefaultConnection_MSOracle" value="Data Source=PROFASTSV4ORA;User ID=SYSTEM;Password=NEW1992;"/>
    <add key="DefaultConnection_ODBC" value="Driver={Oracle in OraClient11g_home1};Dbq=ORASV4;Uid=SYSTEM;Pwd=NEW1992;"/>
    <add key="DefaultConnection_OLEDB" value="Provider=IBMDADB2;Database=sample;Hostname=profastsv4db2;Port=50000;Protocol=TCPIP;Uid=Mike;Pwd=MIKE92;"/>
    <add key="SQLAnywhereUltraLiteInstallFolder" value="C:\Program Files\SQL Anywhere 12\UltraLite\UltraLite.NET\Assembly\V2\iAnywhere.Data.UltraLite.dll"/>

    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <add key = "SQLServerCE35_AdventureWorksDWBuildVersion" value="select  DBVersion ,VersionDate from AdventureWorksDWBuildVersion"/>
    <add key = "SQLServerCE35_DimAccount" value="select  AccountKey ,ParentAccountKey ,AccountCodeAlternateKey ,ParentAccountCodeAlternateKey ,AccountDescription ,AccountType ,Operator ,CustomMembers ,ValueType ,CustomMemberOptions from DimAccount"/>
    <add key = "SQLServerCE35_DimCurrency" value="select  CurrencyKey ,CurrencyAlternateKey ,CurrencyName from DimCurrency"/>
    <add key = "SQLServerCE35_DimCustomer" value="select  CustomerKey ,GeographyKey ,CustomerAlternateKey ,Title ,FirstName ,MiddleName ,LastName ,NameStyle ,BirthDate ,MaritalStatus ,Suffix ,Gender ,EmailAddress ,YearlyIncome ,TotalChildren ,NumberChildrenAtHome ,EnglishEducation ,SpanishEducation ,FrenchEducation ,EnglishOccupation ,SpanishOccupation ,FrenchOccupation ,HouseOwnerFlag ,NumberCarsOwned ,AddressLine1 ,AddressLine2 ,Phone ,DateFirstPurchase ,CommuteDistance from DimCustomer"/>
    <add key = "SQLServerCE35_DimDate" value="select  DateKey ,FullDateAlternateKey ,DayNumberOfWeek ,EnglishDayNameOfWeek ,SpanishDayNameOfWeek ,FrenchDayNameOfWeek ,DayNumberOfMonth ,DayNumberOfYear ,WeekNumberOfYear ,EnglishMonthName ,SpanishMonthName ,FrenchMonthName ,MonthNumberOfYear ,CalendarQuarter ,CalendarYear ,CalendarSemester ,FiscalQuarter ,FiscalYear ,FiscalSemester from DimDate"/>
    <add key = "SQLServerCE35_DimDepartmentGroup" value="select  DepartmentGroupKey ,ParentDepartmentGroupKey ,DepartmentGroupName from DimDepartmentGroup"/>
    <add key = "SQLServerCE35_DimEmployee" value="select  EmployeeKey ,ParentEmployeeKey ,EmployeeNationalIDAlternateKey ,ParentEmployeeNationalIDAlternateKey ,SalesTerritoryKey ,FirstName ,LastName ,MiddleName ,NameStyle ,Title ,HireDate ,BirthDate ,LoginID ,EmailAddress ,Phone ,MaritalStatus ,EmergencyContactName ,EmergencyContactPhone ,SalariedFlag ,Gender ,PayFrequency ,BaseRate ,VacationHours ,SickLeaveHours ,CurrentFlag ,SalesPersonFlag ,DepartmentName ,StartDate ,EndDate ,Status from DimEmployee"/>
    <add key = "SQLServerCE35_DimGeography" value="select  GeographyKey ,City ,StateProvinceCode ,StateProvinceName ,CountryRegionCode ,EnglishCountryRegionName ,SpanishCountryRegionName ,FrenchCountryRegionName ,PostalCode ,SalesTerritoryKey from DimGeography"/>
    <add key = "SQLServerCE35_DimOrganization" value="select  OrganizationKey ,ParentOrganizationKey ,PercentageOfOwnership ,OrganizationName ,CurrencyKey from DimOrganization"/>
    <add key = "SQLServerCE35_DimProduct" value="select  ProductKey ,ProductAlternateKey ,ProductSubcategoryKey ,WeightUnitMeasureCode ,SizeUnitMeasureCode ,EnglishProductName ,SpanishProductName ,FrenchProductName ,StandardCost ,FinishedGoodsFlag ,Color ,SafetyStockLevel ,ReorderPoint ,ListPrice ,Size ,SizeRange ,Weight ,DaysToManufacture ,ProductLine ,DealerPrice ,Class ,Style ,ModelName ,LargePhoto ,EnglishDescription ,FrenchDescription ,ChineseDescription ,ArabicDescription ,HebrewDescription ,ThaiDescription ,GermanDescription ,JapaneseDescription ,TurkishDescription ,StartDate ,EndDate ,Status from DimProduct"/>
    <add key = "SQLServerCE35_DimProductCategory" value="select  ProductCategoryKey ,ProductCategoryAlternateKey ,EnglishProductCategoryName ,SpanishProductCategoryName ,FrenchProductCategoryName from DimProductCategory"/>
    <add key = "SQLServerCE35_DimProductSubcategory" value="select  ProductSubcategoryKey ,ProductSubcategoryAlternateKey ,EnglishProductSubcategoryName ,SpanishProductSubcategoryName ,FrenchProductSubcategoryName ,ProductCategoryKey from DimProductSubcategory"/>
    <add key = "SQLServerCE35_DimPromotion" value="select  PromotionKey ,PromotionAlternateKey ,EnglishPromotionName ,SpanishPromotionName ,FrenchPromotionName ,DiscountPct ,EnglishPromotionType ,SpanishPromotionType ,FrenchPromotionType ,EnglishPromotionCategory ,SpanishPromotionCategory ,FrenchPromotionCategory ,StartDate ,EndDate ,MinQty ,MaxQty from DimPromotion"/>
    <add key = "SQLServerCE35_DimReseller" value="select  ResellerKey ,GeographyKey ,ResellerAlternateKey ,Phone ,BusinessType ,ResellerName ,NumberEmployees ,OrderFrequency ,OrderMonth ,FirstOrderYear ,LastOrderYear ,ProductLine ,AddressLine1 ,AddressLine2 ,AnnualSales ,BankName ,MinPaymentType ,MinPaymentAmount ,AnnualRevenue ,YearOpened from DimReseller"/>
    <add key = "SQLServerCE35_DimSalesReason" value="select  SalesReasonKey ,SalesReasonAlternateKey ,SalesReasonName ,SalesReasonReasonType from DimSalesReason"/>
    <add key = "SQLServerCE35_DimSalesTerritory" value="select  SalesTerritoryKey ,SalesTerritoryAlternateKey ,SalesTerritoryRegion ,SalesTerritoryCountry ,SalesTerritoryGroup from DimSalesTerritory"/>
    <add key = "SQLServerCE35_DimScenario" value="select  ScenarioKey ,ScenarioName from DimScenario"/>
    <add key = "SQLServerCE35_FactAdditionalInternationalProductDescription" value="select  ProductKey ,CultureName ,ProductDescription from FactAdditionalInternationalProductDescription"/>
    <add key = "SQLServerCE35_FactCallCenter" value="select  FactCallCenterID ,DateKey ,WageType ,Shift ,LevelOneOperators ,LevelTwoOperators ,TotalOperators ,Calls ,AutomaticResponses ,Orders ,IssuesRaised ,AverageTimePerIssue ,ServiceGrade from FactCallCenter"/>
    <add key = "SQLServerCE35_FactCurrencyRate" value="select  CurrencyKey ,DateKey ,AverageRate ,EndOfDayRate from FactCurrencyRate"/>
    <add key = "SQLServerCE35_FactFinance" value="select  FinanceKey ,DateKey ,OrganizationKey ,DepartmentGroupKey ,ScenarioKey ,AccountKey ,Amount from FactFinance"/>
    <add key = "SQLServerCE35_FactInternetSales" value="select  ProductKey ,OrderDateKey ,DueDateKey ,ShipDateKey ,CustomerKey ,PromotionKey ,CurrencyKey ,SalesTerritoryKey ,SalesOrderNumber ,SalesOrderLineNumber ,RevisionNumber ,OrderQuantity ,UnitPrice ,ExtendedAmount ,UnitPriceDiscountPct ,DiscountAmount ,ProductStandardCost ,TotalProductCost ,SalesAmount ,TaxAmt ,Freight ,CarrierTrackingNumber ,CustomerPONumber from FactInternetSales"/>
    <add key = "SQLServerCE35_FactInternetSalesReason" value="select  SalesOrderNumber ,SalesOrderLineNumber ,SalesReasonKey from FactInternetSalesReason"/>
    <add key = "SQLServerCE35_FactResellerSales" value="select  ProductKey ,OrderDateKey ,DueDateKey ,ShipDateKey ,ResellerKey ,EmployeeKey ,PromotionKey ,CurrencyKey ,SalesTerritoryKey ,SalesOrderNumber ,SalesOrderLineNumber ,RevisionNumber ,OrderQuantity ,UnitPrice ,ExtendedAmount ,UnitPriceDiscountPct ,DiscountAmount ,ProductStandardCost ,TotalProductCost ,SalesAmount ,TaxAmt ,Freight ,CarrierTrackingNumber ,CustomerPONumber from FactResellerSales"/>
    <add key = "SQLServerCE35_FactSalesQuota" value="select  SalesQuotaKey ,EmployeeKey ,DateKey ,CalendarYear ,CalendarQuarter ,SalesAmountQuota from FactSalesQuota"/>
    <add key = "SQLServerCE35_FactSurveyResponse" value="select  SurveyResponseKey ,DateKey ,CustomerKey ,ProductCategoryKey ,EnglishProductCategoryName ,ProductSubcategoryKey ,EnglishProductSubcategoryName from FactSurveyResponse"/>
    <add key = "SQLServerCE35_ProspectiveBuyer" value="select  ProspectiveBuyerKey ,ProspectAlternateKey ,ProspectAlternateKey ,FirstName ,FirstName ,MiddleName ,MiddleName ,LastName ,LastName ,BirthDate ,MaritalStatus ,Gender ,Gender ,EmailAddress ,EmailAddress ,YearlyIncome ,TotalChildren ,NumberChildrenAtHome ,Education ,Education ,Occupation ,Occupation ,HouseOwnerFlag ,NumberCarsOwned ,AddressLine1 ,AddressLine1 ,AddressLine2 ,AddressLine2 ,City ,City ,StateProvinceCode ,StateProvinceCode ,PostalCode ,PostalCode ,Phone ,Phone ,Salutation ,Salutation ,Unknown from ProspectiveBuyer"/>

  </appSettings>

  <connectionStrings>
    <add name="DefaultServer"
         providerName="System.Data.SqlClient"
         connectionString="Server=profastws1;Database=Northwind;Trusted_Connection=True;" />

    <add name="DefaultCEServer"
         providerName="System.Data.SqlServerCE"
         connectionString="Data Source=C:\Temp\test01_35.sdf;Persist Security Info=False;" />

  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <TestprogAppDataForms.Properties.Settings>
      <setting name="UserOption1" serializeAs="String">
        <value>c:\mikesave</value>
      </setting>
      <setting name="UserOption2" serializeAs="String">
        <value>c:\miketest</value>
      </setting>
      <setting name="SaveFormLocationsOnExit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UserOption4" serializeAs="String">
        <value>First</value>
      </setting>
      <setting name="MainFormHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainFormWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainFormX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainFormY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageLogHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageLogWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageLogX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageLogY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageLogDefaultHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="MessageLogDefaultWidth" serializeAs="String">
        <value>570</value>
      </setting>
    </TestprogAppDataForms.Properties.Settings>
  </userSettings>
</configuration>
