<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="StaticKeysSection" type="InitWinFormsAppWithToolbar.StaticKeysSection, InitWinFormsAppWithToolbar"  />
  </configSections>

  <StaticKeysSection
      MainFormCaption="InitWinFormsAppWithToolbar Application"
      MinAppThreads="1"
      MaxAppThreads="25"
      RequireLogon="False"
      ValidBooleanValues ="true,false,yes,no,y,n,True,False,Yes,No,Y,N,TRUE,FALSE,YES,NO"
    />


  <appSettings>
    <add key="SaveErrorMessagesToErrorLog" value="true"/>
    <add key="ApplicationLogFileName" value="App.log"/>

    <add key="ApplicationName" value="InitWinFormsAppLicensingWithToolbar"/>
    <add key="HelpFileName" value="InitWinFormsHelpFile.chm"/>

    <!-- If false, Mru list is saved to file system.-->
    <add key="SaveMruListToRegistry" value="False"/>
    <!-- SubFolder will be located in the user's mydocuments folder.-->
    <!-- File containing Mru List is automatically named MruList.txt-->
    <add key="MRUListSaveFileSubFolder" value="PFApps\InitWinFormsAppWithToolbar\Mru\"/>
    <!-- SubKey will be located under Registry.CurrentUser key.-->
    <!-- Application automatically adds MRU subkey to the registry key specified below. -->
    <add key="MRUListSaveRegistryKey" value="SOFTWARE\PFApps\InitWinFormsAppWithToolbar"/>
    <!-- Maximum number of MRU List entries.-->
    <add key="MaxMruListEntries" value="8"/>
    <!-- Mru List display type: SubMenu or Inline -->
    <add key="UseSubMenuForMruList" value="True"/>

  </appSettings>

  <connectionStrings>
    <add name="DefaultServer"
         providerName="System.Data.SqlClient"
         connectionString="Server=profastws1;Database=Northwind;Trusted_Connection=True;" />

    <add name="DefaultCEServer"
         providerName="System.Data.SqlServerCE"
         connectionString="Data Source=C:\Temp\test01_35.sdf;Persist Security Info=False;" />

  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup> 
  
</configuration>
